<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="nav">
   <ul class="nav navbar-nav">
    <li><%= link_to("Home", root_path) %></li>
     <% if @current_user.present? %>   
       <% if @current_user.admin? %>
         <li><%= link_to('Show users', users_path) %></li>
         <li><%= link_to('Add plane',new_plane_path) %></li>
         <li><%= link_to('Add flight',new_flight_path) %></li>
       <% end %>
       <li><%= link_to("Logout #{ @current_user.name }", login_path, :method => :delete) %></li>
     <% else %>
       <li><%= link_to('Sign Up', new_user_path) %></li>
       <li><%= link_to('Sign in', '/login') %></li>
     <% end %>
   </ul>
 </nav>
 <div class="container">
   <%= yield %>
 </div>
</body>
</html>
